<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Kaumanns, Ph.D." />
    <title>kaumanns.io / $title$</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="/breezedark.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <nav class="center">
        <p class="logo">
          <a href="/">
            <img alt="Logo" style="border-width:0" src="/logo.png" />
          </a>
        </p>
        <p class="head">
            David Kaumanns.io
        </p>
      </nav>
      $body$
      <footer>
        <p class="author">
          By David Kaumanns, Ph.D. (2022)
        </p>
        <p>
          Throw me a wrench via:
        </p>
        <ul>
          <li>
            Email: david [ätt] kaumanns.io
            (<a href="https://keys.openpgp.org/vks/v1/by-fingerprint/83B21DD6874CED29DE990531235B047EF5F74CB5">PGP-Key</a>)
          </li>
          <li>
            Github: <a href="https://github.com/kaumanns">github.com/kaumanns</a>
          </li>
          <li>
            Linkedin: <a href="https://linkedin.com/in/kaumanns">linkedin.com/kaumanns</a>
          </li>
        </ul>
        <hr>
        <p>
          This site was created with my own <a href="https://github.com/kaumanns/no-static-site-generator">no-static-site-generator</a>
          and is served by a Raspberry Pi 3.
        </p>
        <p>
          All code is licensed under <a rel="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>.
        </p>
        <p>
          All other content is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
          <br />
          <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="/creative_commons.png" />
          </a>
        </p>
      </footer>
    </main>
  </body>
</html>
